@charset "UTF-8";

body, html{
	height: 100%;
	min-width: 600px;
	background-color: #151830;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
	font-family: "Montserrat Black";
	font-size: 50px;
}

nav {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	position:relative;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	margin: 2rem auto;
	font-size: 17px;
	box-shadow: 3px 3px 8px #444;
	max-width: 1400px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#141522;
}

li {
	float: left;
}

a {
	cursor: pointer;
}

li a {
	display: block;
	color: #FF7600;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.facebook{
	float: right;
	border-radius: 50%;
}

.gridContainer{
	display: inline-grid;
	grid-template-columns: 100% 100% 100%;
	padding: 10px;
	width: auto;
	grid-column-gap:5px;
	grid-row-gap: 70px;
	float: right;
	position: absolute;
	max-width: 1400px;
	text-align-last: center;
}

.gridText{
	text-align: center;
	font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
}

.itemOne{
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: #FF7600;
	padding: 20px;
	border-style: groove;
	border-color: black;
	max-width: 1400px;
	height: 100%;
}

.itemTwo{
	grid-column-start: 3;
	grid-column-end: 4;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	max-width: 1400px;
	height: 100%;
}

.itemThree{
	background-image: url("assets/photos/05.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	max-width: 1400px;
	height: 100%;
}

.itemFour{
	background-image: url("assets/photos/11.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	max-width: 1400px;
	height: 100%;
}

.itemFive{
	background-image: url("assets/photos/12.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	max-width: 1400px;
	height: 100%;
}

.itemSix{
	background-image: url("assets/photos/06.png");
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	max-width: 1400px;
	height: 100%;
}