@charset "UTF-8";
/* CSS Document */


body, html{
	height: 100%;
	min-width: 600px;
	background-color: #151830;
}

.heroImage{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/photos/slide01.png");
	height: 60%;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
}

.heroText{
	text-align: center;
	top: 50%;
	bottom: 50%;
	position: relative;
	color: white;
}

h1 {
	font-family: "Montserrat Black";
	font-size: 50px;
}

.gridContainer{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	background-color: beige;
	padding: 10px;
	width: 100%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	float: left;
	position: absolute;
}

.gridItem{
	background-color: white;
	padding: 20px;
	text-align: center;
	border-color: black;
	border-style: solid;
}